<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/pages.css" />
    <link rel="stylesheet" href="../public/css/responsive.css" />
    <title>Brendan Eich</title>
  </head>
  <body>
    <header class="header">
      <h1 class="brand">Show<span class="brandSpan">Case</span></h1>
      <p class="h_s1">
        CMT119 <span class="h_s2">&nbsp; &#124; &nbsp; </span> Cardiff
        University
      </p>
    </header>
    <main class="main" id="top" name="top">
      <div class="backHome">
        <a href="../index.html">&larr; main page</a>
      </div>
      <div class="mainCtWrapper">
        <nav class="menu">
          <div id="menuShow_Wrapper">
            CONTENTS
            <button class="menuTrigger" onclick="toggleBtn()">
              <!-- cheveron source: 
              <a href="https://www.flaticon.com/free-icons/arrow" title="arrow icons">Arrow icons created by th studio - Flaticon</a>-->
              <img src="../images/down-arrow.png" alt=">" />
            </button>
          </div>
          <ul id="menuList">
            <li class="menuWrapper">
              <a href="./ct.html" class="menuItems">Computational Thinking</a>
            </li>
            <li class="menuWrapper">
              <a href="./cs.html" class="menuItems">Brendan Eich</a>
            </li>
            <li class="menuWrapper">
              <a href="./mt.html" class="menuItems">Reflection on Learning</a>
            </li>
          </ul>
        </nav>
        <section class="pageContentWrapper">
          <article class="pageContent">
            <h2 class="mc_title">Brendan Eich</h2>
            <p class="mc_text">
              <span>
                Brendan Eich created the JavaScript prototype in ten days in
                1995<cite class="inTxtCite"> (Hoffman, B. 2019)</cite>.
              </span>
              <span>
                What he started as a necessity - helping Netscape build a "new
                scripting language...that could be used to enhance the mostly
                static features of HTML and let developers move things around
                the page" led to the discovery of the third language of the web
                <cite class="inTxtCite"> (Hoffman, B. 2019)</cite></span
              >.
              <span>
                He created one of the most powerful languages known for its
                performance and omnipresence and the potential to tap into many
                popular industries like Machine Learning and Data Analysis
                <cite class="inTxtCite"> (Mohan, M. n.d.)</cite>.
              </span>
            </p>
            <p class="mc_text">
              As<span>
                <cite class="inTxtCite"> Cassel (2019)</cite> said, Eich
                witnessed the birth of a standard and innovated on the evolving
                standards of how people wrote webpages</span
              >. He played to the need at the right time, with an entire canvas
              to paint on.
            </p>

            <blockquote>
              "Its ascent to the most popular programming language is synonymous
              with the rise of the internet itself."<br />
              <cite class="inTxtCite">(DeGroat, T.J. 2019)</cite>
            </blockquote>
            <br />
            <p class="mc_text">
              <span
                >In 1998, Eich founded the Mozilla Project along with Jamie
                Zawinski to manage the open-source contributions to Netscape's
                source code. After Netscape was closed, he helped create the
                <a href="https://foundation.mozilla.org/en/"
                  >Mozilla Foundation</a
                >
                <cite class="inTxtCite">(dunp.it n.d.)</cite></span
              >,
              <span
                >a global non-profit that "works to ensure the internet remains
                a public resource that is open and accessible to us all"<cite
                  class="inTxtCite"
                >
                  (Mozilla Foundation, n.d.)</cite
                ></span
              >.
              <span
                >The first JavaScript engine-
                <a href="https://en.wikipedia.org/wiki/SpiderMonkey"
                  >SpiderMonkey</a
                >, which Eich developed for Netscape, is still used in the
                Firefox browser
                <cite class="inTxtCite"> (Wikipedia, 2022)</cite>.</span
              >
              He played a significant role in forming a foundation and project
              that stands for internet accessibility, cyber democracy and
              customer privacy.
            </p>
            <p class="mc_text">
              <span>
                From then till now, Eich was and is active in the emerging tech
                atmosphere where there is always a scope for first mover
                advantage. In 2015, he founded a privacy-centric browser-
                <a href="https://brave.com/">Brave</a>, which blocks ads and
                tracking cookies<cite class="inTxtCite"> </cite>.
              </span>
              <span>
                The browser uses a blockchain-based system called
                <a
                  href="https://www.investopedia.com/terms/b/basic-attention-token.asp#:~:text=The%20Basic%20Attention%20Token%20(BAT)%20is%20a%20blockchain%2Dbased,online%20marketing%20content%20and%20ads."
                  >Basic Attention Token (BAT)</a
                >
                to track media consumers' time and attention on websites
                <cite class="inTxtCite">(Hayes, A. 2022)</cite>.
              </span>
            </p>
            <blockquote>
              "When an advertiser signs up for a campaign, Brave uses 70% of the
              fee to purchase Basic Attention Tokens (BAT) from the open market
              and distribute them to users who have opted-in to the ads
              program."<br />
              <cite class="inTxtCite">(Khalili, J. 2022)</cite>
            </blockquote>
            <br />
            <p class="mc_text">
              In an interview with
              <span>
                <cite class="inTxtCite"> Tyson (2022)</cite>, Eich spoke about
                how online ads led to surveillance, "looting users and
                publishers", and malware distribution. Although this was not an
                intended outcome of their work, he founded Brave as a solution
                by putting the user first. He has developed a browser to browse
                without ads/ advertisers paying the users instead of platforms.
              </span>
              <span>
                He has developed a browser to browse without ads/ advertisers
                paying the users instead of platforms, innovating on the revenue
                model
                <cite class="inTxtCite"> (hackernoon.com., n.d.).</cite>
              </span>
            </p>
          </article>
          <nav class="ltrt">
            <!-- cheveron source: 
              <a href="https://www.flaticon.com/free-icons/ui" title="ui icons">Source: Cheveron: Ui icons created by bsd - Flaticon</a> -->
            <div class="ltrt_box">
              <a href="./ct.html" class="ltrt_link">
                <img
                  src="../images/left-arrow.png"
                  class="navChevron"
                  alt="Ui icons created by bsd - Flaticon"
                />
                <div class="ltrt_textBox">
                  <p class="ltrt_text">Previous</p>
                </div>
              </a>
            </div>
            <div class="ltrt_box">
              <a href="./mt.html" class="ltrt_link">
                <div class="ltrt_textBox rtNxt">
                  <p class="ltrt_text">Next</p>
                </div>
                <img
                  src="../images/left-arrow.png"
                  class="navChevron ncRt"
                  alt="Ui icons created by bsd - Flaticon"
                />
              </a>
            </div>
          </nav>
        </section>
        <div class="references">
          <h2>References</h2>
          <p>
            Cassel, D. (2021).
            <i>Brendan Eich on How JavaScript Survived the Browser Wars</i>.
            [online] The New Stack. Available at:
            <a
              href="https://thenewstack.io/brendan-eich-on-how-javascript-survived-the-browser-wars/"
              >https://thenewstack.io/brendan-eich-on-how-javascript-survived-the-browser-wars/</a
            >
            [Accessed 01 November 2022]
          </p>
          <p>
            DeGroat, T.J. (2019).
            <i> The History of JavaScript: Everything You Need to Know. </i>
            [online] Springboard Blog. Available at:
            <a
              href="https://www.springboard.com/blog/data-science/history-of-javascript/
              "
            >
              https://www.springboard.com/blog/data-science/history-of-javascript/
            </a>
            [Accessed 01 November 2022]
          </p>

          <p>
            dunp.it (n.d.).
            <i>
              BRENDAN EICH: THE FOUNDER OF JAVASCRIPT, MOZILLA AND AND BRAVE.
            </i>
            [online] geeksacademy.it. Available at:
            <a
              href="https://www.geeksacademy.it/en-en/article-82/brendan-eich-the-founder-of-javascript-mozilla-and-and-brave
              "
            >
              https://www.geeksacademy.it/en-en/article-82/brendan-eich-the-founder-of-javascript-mozilla-and-and-brave
            </a>
            [Accessed 01 November 2022]
          </p>
          <p>
            Eich, B. (n.d.).
            <i> For a Better Web A Brief History of JavaScript. </i>
            [online] Available at:
            <a
              href="https://brendaneich.com/wp-content/uploads/2017/12/dotJS-2017.pdf
              "
            >
              https://brendaneich.com/wp-content/uploads/2017/12/dotJS-2017.pdf
            </a>
            [Accessed 01 November 2022]
          </p>
          <p>
            hackernoon.com. (n.d.).
            <i>Changemakers in Programming: Brendan Eich | HackerNoon.</i>.
            [online] Available at:
            <a
              href="https://hackernoon.com/changemakers-in-programming-brendan-eich-e43f2cc7d269"
              >https://hackernoon.com/changemakers-in-programming-brendan-eich-e43f2cc7d269</a
            >
            [Accessed 01 November 2022]
          </p>
          <p>
            Hayes, A. (2022)
            <i> Basic attention token (BAT), Investopedia. </i>.Investopedia.
            Available at:
            <a
              href="https://www.investopedia.com/terms/b/basic-attention-token.asp#:~:text=The%20Basic%20Attention%20Token%20(BAT)%20is%20a%20blockchain%2Dbased,online%20marketing%20content%20and%20ads
              "
            >
              https://www.investopedia.com/terms/b/basic-attention-token.asp#:~:text=The%20Basic%20Attention%20Token%20(BAT)%20is%20a%20blockchain%2Dbased,online%20marketing%20content%20and%20ads</a
            >. [Accessed 01 November 2022]
          </p>
          <p>
            Hoffmann, J. (1995).
            <i> The 10-Day Programming Language (Is Kind of a Myth). </i>
            [online] The History of the Web. Available at:
            <a
              href="https://thehistoryoftheweb.com/the-10-day-programming-language-is-a-myth/
              "
            >
              https://thehistoryoftheweb.com/the-10-day-programming-language-is-a-myth/
            </a>
            [Accessed 01 November 2022]
          </p>
          <p>
            Khalili, J. (2022).
            <i> The inside story of the browser wars, told by a veteran. </i>
            [online] TechRadar. Available at:
            <a
              href="
              https://www.techradar.com/news/the-story-of-the-browser-wars-told-from-the-frontlines
              "
            >
              https://www.techradar.com/news/the-story-of-the-browser-wars-told-from-the-frontlines
            </a>
            [Accessed 01 November 2022]
          </p>
          <p>
            Mohan, M. (n.d.).
            <i> TWhy JavaScript Is the Programming Language of the Future. </i>
            [online] freeCodeCamp.org. Available at:
            <a
              href="
              https://www.freecodecamp.org/news/future-of-javascript/
              "
            >
              https://www.freecodecamp.org/news/future-of-javascript/
            </a>
            [Accessed 01 November 2022]
          </p>
          <p>
            Mozilla Foundation. (n.d.).
            <i> Who we are. </i>
            [online] Available at:
            <a
              href="
              https://foundation.mozilla.org/en/who-we-are/
              "
            >
              https://foundation.mozilla.org/en/who-we-are/
            </a>
            [Accessed 01 November 2022]
          </p>
          <p>
            Tyson, M. (2022).
            <i> Brendan Eich: Don’t blame cookies and JavaScript. </i>
            [online] InfoWorld. Available at:
            <a
              href="
              https://www.infoworld.com/article/3673292/brendan-eich-dont-blame-cookies-and-javascript.html
              "
            >
              https://www.infoworld.com/article/3673292/brendan-eich-dont-blame-cookies-and-javascript.html
            </a>
            [Accessed 01 November 2022]
          </p>
          <p>
            Wikipedia. (2022).
            <i> Netscape Navigator. </i>
            [online] Wikipedia. Available at:
            <a
              href="
              https://en.wikipedia.org/wiki/Netscape_Navigator
              "
            >
              https://en.wikipedia.org/wiki/Netscape_Navigator
            </a>
            [Accessed 01 November 2022]
          </p>
          <p>
            Wikipedia. (2022).
            <i> SpiderMonkey. </i>
            [online] Wikipedia. Available at:
            <a
              href="
              https://en.wikipedia.org/wiki/SpiderMonkey
              "
            >
              https://en.wikipedia.org/wiki/SpiderMonkey
            </a>
            [Accessed 01 November 2022]
          </p>
        </div>
      </div>
    </main>
    <div class="goToTopWrapper">
      <div class="goToTop">
        <a href="#top">&#8593;</a>
      </div>
    </div>
    <footer class="footer">
      <div class="f1">
        <p class="f_grey">
          This webpage is a part of Cardiff University assignment for CMT119
          Computational thinking (as part of MSc Computational and Data
          Journalism)
        </p>
      </div>
      <div class="f2">
        <a href="">Github</a>
        <a href="">LinkedIn</a>
        <a href="">Email</a>
      </div>
      <div class="f3">
        <p class="f_grey">
          &#169; All copyrights reserved to the student Vaishali Pandiyen
          <br />Student number: 21132669
        </p>
      </div>
    </footer>
    <script src="../public/js/script.js"></script>
  </body>
</html>
