<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/pages.css" />
    <link rel="stylesheet" href="../public/css/responsive.css" />
    <title>Computational Thinking</title>
  </head>
  <body>
    <header class="header">
      <h1 class="brand">Show<span class="brandSpan">Case</span></h1>
      <p class="h_s1">
        CMT119 <span class="h_s2">&nbsp; &#124; &nbsp; </span> Cardiff
        University
      </p>
    </header>
    <main class="main" id="top" name="top">
      <div class="backHome">
        <a href="../index.html">&larr; main page</a>
      </div>
      <div class="mainCtWrapper">
        <nav class="menu">
          <div id="menuShow_Wrapper">
            CONTENTS
            <button class="menuTrigger" onclick="toggleBtn()">
              <!-- cheveron source: 
              <a href="https://www.flaticon.com/free-icons/arrow" title="arrow icons">Arrow icons created by th studio - Flaticon</a>-->
              <img src="../images/down-arrow.png" alt=">" />
            </button>
          </div>
          <ul id="menuList">
            <li class="menuWrapper">
              <a href="./ct.html" class="menuItems">Computational Thinking</a>
            </li>
            <li class="menuWrapper">
              <a href="./cs.html" class="menuItems">Brendan Eich</a>
            </li>
            <li class="menuWrapper">
              <a href="./mt.html" class="menuItems">Reflection on Learning</a>
            </li>
          </ul>
        </nav>
        <section class="pageContentWrapper">
          <article class="pageContent">
            <h2 class="mc_title">Computational Thinking</h2>
            <p class="mc_text">
              Computational thinking is not doing the task. Instead, it is
              thinking about what kind of task it is, whether we can logically
              assess what we should or shouldn't focus on and what eliminates
              risk, failures, dead ends.
              <span>
                It involves four equally important processes. One is to break
                down the task into smaller manageable bits to understand and
                identify the requirements. It is called decomposition. Two is to
                filter what we need to focus on at the moment. It is called
                abstraction. Three is to find out similar patterns within the
                context of the task. It allows us to predict and use shortcuts.
                It is called pattern recognition. Four is to find commonalities
                outside the parameters of the task from a similar one. It means
                adapting certain practices based on a previous or similar task.
                It is called generalisation. With these four pillars, we create
                a flow of steps called an algorithm to give directions and
                describe the steps to finish the task
                <cite class="inTxtCite">(learningcentral.cf.ac.uk., n.d.)</cite
                >.
              </span>
            </p>
            <p class="mc_text">
              We (consumers and creators) use computers (or other gadgets) for
              everyday needs. We can use these devices to solve problems, but
              before that, we should understand the problem and how to solve it.
              That is computational thinking -
              <span>
                "It simply means to understand the problem and develop possible
                solutions to present them in a way that a computer and a human
                can both understand"<cite class="inTxtCite">
                  (BBC Bitesize, 2022)</cite
                >.
              </span>
              It is finding what logic, theories and commands are input to the
              computer to do the task.
            </p>
            <blockquote class="mc_text">
              "Computational thinking builds on the power and limits of
              computing processes, whether they are executed by a human or by a
              machine….Computational thinking confronts the riddle of machine
              intelligence: What can humans do better than computers? and What
              can computers do better than humans? Most fundamentally it
              addresses the question: What is computable?"
              <br />
              <cite class="inTxtCite">(Wing, J.M. 2006)</cite>
            </blockquote>
            <p class="mc_text">
              We also apply computational thinking in everyday activities like
              cooking, commuting, socials, etc. The first thing I thought of
              about computational thinking was how I research, innovate, buy
              materials and teach (explain) the craft I do or want to do. We
              discuss/think, plan, analyse, research and query on our own or
              with peers.
              <span>
                We do most of these processes parallelly and repeatedly until we
                are satisfied with the results. So, computational thinking is
                not just a computer science skill but a fundamental skill for
                all
                <cite class="inTxtCite">(learningcentral.cf.ac.uk., n.d.)</cite
                >.
              </span>
            </p>
            <p class="mc_text">
              We think and process without thinking much about it. But when we
              logically give instructions to the computer, even a minute
              overlooked detail can make the process fail. That could be
              something we usually do not think about or pass instructions on.
              Computational thinking also involves setting aside our intuitive
              actions and sensory reactions and formulating them effectively to
              avoid errors.
            </p>
            <p class="mc_text">
              While writing this assignment, I have decomposed what makes up
              computational thinking, figured out what point can go where tried
              not to deviate, reduced duplication and followed the rules of the
              written English language. I would not have finished this piece if
              I had skipped even one step in that process. Taking away from
              here, I will require computational thinking in my learning and
              career to analyse problems and design solutions. In today's
              workplaces, problem-solving is a valuable skill for most roles.
            </p>
          </article>
          <nav class="ltrt">
            <!-- cheveron source: 
              <a href="https://www.flaticon.com/free-icons/ui" title="ui icons">Source: Cheveron: Ui icons created by bsd - Flaticon</a> -->
            <div class="ltrt_box disable">
              <!-- disabled -->
              <a href="" class="ltrt_link">
                <img
                  src="../images/left-arrow.png"
                  class="navChevron"
                  alt="Ui icons created by bsd - Flaticon"
                />
                <div class="ltrt_textBox">
                  <p class="ltrt_text">Previous</p>
                </div>
              </a>
            </div>
            <div class="ltrt_box">
              <a href="./cs.html" class="ltrt_link">
                <div class="ltrt_textBox rtNxt">
                  <p class="ltrt_text">Next</p>
                </div>
                <img
                  src="../images/left-arrow.png"
                  class="navChevron ncRt"
                  alt="Ui icons created by bsd - Flaticon"
                />
              </a>
            </div>
          </nav>
        </section>
        <div class="references">
          <h2>References</h2>
          <p>
            BBC Bitesize. (2022).
            <i
              >What is computational thinking? - Introduction to computational
              thinking - KS3 Computer Science Revision - BBC Bitesize.</i
            >
            Available at:
            <a href="https://www.bbc.co.uk/bitesize/guides/zp92mp3/revision/1"
              >https://www.bbc.co.uk/bitesize/guides/zp92mp3/revision/1</a
            >. [Accessed 01 November 2022]
          </p>
          <p>
            Wing, J.M. (2006).
            <i
              >Computational Thinking | March 2006 | Communications of the ACM.
              [online] cacm.acm.org.</i
            >
            Available at:
            <a
              href="https://cacm.acm.org/magazines/2006/3/5977-computational-thinking/fulltext"
              >https://cacm.acm.org/magazines/2006/3/5977-computational-thinking/fulltext</a
            >. [Accessed 01 November 2022]
          </p>
          <p>
            learningcentral.cf.ac.uk. (n.d.).
            <i>CMT119 Introduction to Computational Thinking. </i> Available at:
            <a
              href="https://learningcentral.cf.ac.uk/ultra/courses/_411137_1/outline/edit/document/_6772483_1?courseId=_411137_1"
              >https://learningcentral.cf.ac.uk/ultra/courses/_411137_1/outline/edit/document/_6772483_1?courseId=_411137_1</a
            >. [Accessed 01 November 2022]
          </p>
          <p></p>
        </div>
      </div>
    </main>
    <div class="goToTopWrapper">
      <div class="goToTop">
        <a href="#top">&#8593;</a>
      </div>
    </div>
    <footer class="footer">
      <div class="f1">
        <p class="f_grey">
          This webpage is a part of Cardiff University assignment for CMT119
          Computational thinking (as part of MSc Computational and Data
          Journalism)
        </p>
      </div>
      <div class="f2">
        <a href="">Github</a>
        <a href="">LinkedIn</a>
        <a href="">Email</a>
      </div>
      <div class="f3">
        <p class="f_grey">
          &#169; All copyrights reserved to the student Vaishali Pandiyen
          <br />Student number: 21132669
        </p>
      </div>
    </footer>
    <script src="../public/js/script.js"></script>
  </body>
</html>
