<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/pages.css" />
    <link rel="stylesheet" href="../public/css/responsive.css" />
    <title>Module takeaways</title>
  </head>
  <body>
    <header class="header">
      <h1 class="brand">Show<span class="brandSpan">Case</span></h1>
      <p class="h_s1">
        CMT119 <span class="h_s2">&nbsp; &#124; &nbsp; </span> Cardiff
        University
      </p>
    </header>
    <main class="main" id="top" name="top">
      <div class="backHome">
        <a href="../index.html">&larr; main page</a>
      </div>
      <div class="mainCtWrapper">
        <nav class="menu">
          <div id="menuShow_Wrapper">
            CONTENTS
            <button class="menuTrigger" onclick="toggleBtn()">
              <!-- cheveron source: 
              <a href="https://www.flaticon.com/free-icons/arrow" title="arrow icons">Arrow icons created by th studio - Flaticon</a>-->
              <img src="../images/down-arrow.png" alt=">" />
            </button>
          </div>
          <ul id="menuList">
            <li class="menuWrapper">
              <a href="./ct.html" class="menuItems">Computational Thinking</a>
            </li>
            <li class="menuWrapper">
              <a href="./cs.html" class="menuItems">Brendan Eich</a>
            </li>
            <li class="menuWrapper">
              <a href="./mt.html" class="menuItems">Reflection on Learning</a>
            </li>
          </ul>
        </nav>
        <section class="pageContentWrapper">
          <article class="pageContent">
            <h2 class="mc_title">Reflection on Learning</h2>
            <p class="mc_text">
              My first takeaway from the Computational Thinking module is that
              no matter how much I think I know, there will always be something
              to learn. This realisation changed my attitude towards listening,
              thinking and engaging with my peers and the class. It was also the
              time of my first cultural shift from the Indian university
              approach, where usually, students are given things on their plate.
              I felt this was the first step in being prepared for the rest of
              my study here and in any workplace. I remember thinking, "Oh, I
              know! I knew that already". As I settled in with my peers, I
              learnt how to explain things patiently using simpler words. Some
              may call it settling in, but I think that this process of
              understanding the changing environment, learning to be humble and
              open to constructive criticism, and navigating the space and
              resources applies computational thinking.
            </p>
            <p class="mc_text">
              In this process, I learnt to be attentive to small details. It
              impacted how I managed planning and breaking down the components
              to track my learning and balance my day.
            </p>
            <p class="mc_text">
              Working with binary numbers reminded me to be patient with
              numbers. In doing so, I have let myself find a way to work with
              maths/logic again. I think this is crucial and fundamental to my
              coursework and my career aspirations.
            </p>
            <p class="mc_text">
              As I was familiar with HTML and CSS, I tried working on the
              content and design before starting with coding (and using it
              instead of deviating to fancier stuff).
            </p>
            <p class="mc_text">
              That came along with learning it is better not to use something we
              do not understand well. I tried implementing responsive media
              queries and designing from mobile to desktop (in that order) for
              the first time.
            </p>
            <p class="mc_text">
              This module also challenged my problem-solving abilities, which I
              had missed when I self-learnt web programming earlier. I realise
              how important it is to approach the blocks of programming required
              for my portfolio and the module: fundamentals of programming.
              While solving the BennieScript exercises, I understood the
              importance of finding simple and direct ways than sticking to the
              known ones if they are longer and more complex. In trying and
              failing to replicate the for-loop when only the while-loop was
              available in the exercise, I knew my mind was stuck in the
              javascript land. That made me re-evaluate my requirements and
              tools available and choose necessity over familiarity. Code-along
              and youtube videos can leave us wondering, “Oh, how did I do that
              back then”. We might not take in logic when we follow along or
              copy ideas.
            </p>
            <p class="mc_text">
              From being disinterested in maths and computer science at school
              to wanting to use tech in learning and career, this module was my
              first institutional learning. I have started to unlearn relying on
              impulses and learn to be consistent, take breaks and be patient.
              Whether I will be a journalist or a programmer, a steady and consistent
              approach is essential to continue learning and growing.
            </p>
          </article>
          <nav class="ltrt">
            <!-- cheveron source: 
              <a href="https://www.flaticon.com/free-icons/ui" title="ui icons">Source: Cheveron: Ui icons created by bsd - Flaticon</a> -->
            <div class="ltrt_box">
              <!-- disabled -->
              <a href="./cs.html" class="ltrt_link">
                <img
                  src="../images/left-arrow.png"
                  class="navChevron"
                  alt="Ui icons created by bsd - Flaticon"
                />
                <div class="ltrt_textBox">
                  <p class="ltrt_text">Previous</p>
                </div>
              </a>
            </div>
            <div class="ltrt_box disable">
              <a href="" class="ltrt_link">
                <div class="ltrt_textBox rtNxt">
                  <p class="ltrt_text">Next</p>
                </div>
                <img
                  src="../images/left-arrow.png"
                  class="navChevron ncRt"
                  alt="Ui icons created by bsd - Flaticon"
                />
              </a>
            </div>
          </nav>
        </section>
      </div>
    </main>
    <div class="goToTopWrapper">
      <div class="goToTop">
        <a href="#top">&#8593;</a>
      </div>
    </div>
    <footer class="footer">
      <div class="f1">
        <p class="f_grey">
          This webpage is a part of Cardiff University assignment for CMT119
          Computational thinking (as part of MSc Computational and Data
          Journalism)
        </p>
      </div>
      <div class="f2">
        <a href="">Github</a>
        <a href="">LinkedIn</a>
        <a href="">Email</a>
      </div>
      <div class="f3">
        <p class="f_grey">
          &#169; All copyrights reserved to the student Vaishali Pandiyen
          <br />Student number: 21132669
        </p>
      </div>
    </footer>
    <script src="../public/js/script.js"></script>
  </body>
</html>
